body {
	font-family: sans-serif;

	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 0;
	margin: 0;

	font-size: 14px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	min-height: 100%;
}

ul.pass_list {
	padding: 5px 0px 5px;
	margin: 0px;
}

li.pass {
  	position: relative;
  	list-style: none;
	margin: 0px;
	padding: 0px;
}

li.pass h3 {
	margin: 0px 0px 1em 0px;
}

li.pass p {
	margin: 0px 0px 5px 0px;
	font-size: 13px;
}
